body {
  font-family: Arial;
  background: #eef2f3;
}

.card {
  width: 400px;
  background: white;
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input, select, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#map {
  width: 100%;
  height: 250px;
  margin-top: 10px;
}